<%- include("header")-%>
<body>
    <h1 class="box" id="heading">About</h1>
    <div class="about-text">
        <p class="about-p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ad! Harum fugiat, aliquam vero eveniet facilis eum inventore repudiandae architecto dolores beatae obcaecati iste non magnam laboriosam vitae ipsa et, saepe illo deleniti animi. Praesentium laboriosam enim quis vitae eligendi dignissimos omnis veritatis vero architecto consequuntur. Reprehenderit suscipit totam ipsum!</p>
    </div>
</body>
<%- include("footer")-%>